<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uzapoint Technologies</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'event/styles.css' %}">
</head>
<body>
    <div class="event-container">
        <h1>Uzapoint Technologies </h1>
        <p>Get the Best Cloud based POS for your company, We Got you! Look no further other than Uzapoint.</p>
        <p>Contact Us: 0796780056</p>
        <img src="{% static 'event/kubernetes_event.jpeg' %}" alt="Kubernetes Event">
    </div>
</body>
</html>
